<!-- Head & Navigation-->
{% include 'header.html' %}

        <!-- Page Header-->
        {% set image = url_for('static', filename=page_post.image) %}
        <header class="masthead" style="background-image: url('{{ image }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ page_post.title }}</h1>
                            <h2 class="subheading">{{ page_post.subtitle }}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{ page_post.author }}</a>
                                on {{ page_post.date }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{ page_post.body }}</p>
                                {% set first_name = page_post.image.split('/')[2].split('-')[0].title() %}
                                {% set last_name = page_post.image.split('/')[2].split('-')[1].title() %}
                            &middot; Images by {{ first_name }} {{ last_name }} on
                            <a href="https://unsplash.com/">Unsplash</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <!-- Footer & JS-->
        {% include 'footer.html' %}
    </body>
</html>
